---
layout: default
---

    <div class="wrapper">
        <article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">

            <header class="post-header">
                <h1 class="post-title p-name" itemprop="name headline">{{page.title}}</h1>
                <p class="post-meta">
                    <time class="dt-published" datetime="{{page.date}}" itemprop="datePublished">{{page.date}}
                    </time></p>
            </header>

            <div class="post-content e-content" itemprop="articleBody">
                <h1 id="init">{{page.content}}</h1>


            </div><a class="u-url" href="{{page.url}}" hidden=""></a>

            <footer>
                <h3>tags</h3>
                <ul class="inline-list">
                   {% for tag in page.tags %}
                    <li>
                    <a
                    href="{{site.baseUrl}}/tags/{{tag}}"
                    >
                        {{tag}}
                    </a>
                    </li>
                    {% endfor %}
                </ul>
            </footer>
        </article>

    </div>
